/* fontes do google */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

/* Elemento raiz (html) */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* CSS Variaveis */
  /* Fontes */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: black;
  color: white;
}

img {
  max-width: 1000%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: white;
  padding: 0px 40px;
}

body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  width: 98%;
  max-width: 91rem;
  margin: 0 auto;
}

.line {
  width: 150px;
  height: 4px;
  background: white;
  margin: 1px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card {
  cursor: pointer;
  height :400px
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 450px;
}

.row .col img {
  width: 90%;
}

.col p {
  color: grey;
  padding: 0px 40px;
  font-size: var(--fs-paragraphs);
  font-family: var(--ff-roboto);
}

.col > p {
  color:grey;
  padding: 0;
  line-height: 1.5;
  text-align: center;
  max-width: 35ch;
}

/* imagens */
.image-gallery {
  display:grid;
  
  justify-content: center;
  padding: 1rem;
}

.content-col {
  position: relative;
}

.content-col h1 {
  font-size: calc(2.2rem + 1vw);
  font-family: var(--ff-lora);
  max-width: 15.5ch;
}

.content-col .line {
  margin-left: 0;
}

.content-col p {
  padding: 0;
  margin: 30px 0;
  width: 100%;
  text-align: left;
  max-width: 40ch;
}

.content-col .ctn {
  position: absolute;
  left: 0;
  bottom: -14%;
}


